body {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li{
  list-style-type: none;
}
.navbar {
  padding: 0;
}
hr {
  margin: 0;
  padding: 0;
}